
*.jar

*.dll

*.jnilib

*.so

*.exe

SorgenteP/application.windows32/source/SorgenteP.java

SorgenteP/application.windows32/source/SorgenteP.pde

SorgenteP/application.windows64/lib/jssc.txt

SorgenteP/application.windows32/lib/jssc.txt

SorgenteP/application.windows64/source/SorgenteP.pde

SorgenteP/application.windows64/source/SorgenteP.java

SorgenteP/sketch.properties

*.gif

*.html

*.vlw

SorgenteP/application.linux32/SorgenteP

SorgenteP/application.linux64/source/SorgenteP.pde

SorgenteP/application.macosx/SorgenteP.app/Contents/PkgInfo

*.icns

*.java

*.plist

SorgenteP/application.macosx/SorgenteP.app/Contents/MacOS/JavaApplicationStub

SorgenteP/application.macosx/source/SorgenteP.pde

SorgenteP/application.macosx64/SorgenteP.app/Contents/MacOS/JavaApplicationStub

SorgenteP/application.macosx64/SorgenteP.app/Contents/PkgInfo

*.xml

*.dylib

*.a

SorgenteP/application.macosx64/source/SorgenteP.pde

SorgenteP/application.windows32/lib/args.txt

SorgenteP/application.linux64/SorgenteP

SorgenteP/applet/SorgenteP.pde
